body {
  text-align: center;
  background-color: black;
}

canvas {
  border: 2px solid grey;

}

#base {
  margin: 0;
  width: 100%
  height: 1600;
  background-color: black;
}

#main-container {
  margin: auto;;
  width: 65%;
  background-image: url("assets/wooden-cork-background.jpg");
}

#title {
  margin: 0;
  padding: 50;
}

#input-panel {
  margin: 20px;
  float: left;
  /*background-color: red;*/

}

#controls-panel {
  margin: 20px;
  float: left;
/*background-color: blue;*/
}

h1, h2, h3, p {
  font-family: Arial, Helvetica, sans-serif;
  background-color: inherit;
  color: #404040;
}
